<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.agora.chatdemo">
    <!-- IM SDK required start -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- IM SDK required end -->

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.HyphenateDemoAndroid"
        android:usesCleartextTraffic="true">

        <!-- IM SDK required start -->
        <!-- Set your agora chat AppKey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="${AGORA_CHAT_APPKEY}" />
        <!-- SDK service -->
        <service
            android:name="io.agora.chat.ChatService"
            android:exported="true" />
        <service
            android:name="io.agora.chat.ChatJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- SDK receiver -->
        <receiver android:name="io.agora.chat.MonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- optional filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!-- IM SDK required end -->
        <!--Add FileProvider-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- FCM required start -->
        <service android:name=".fcm.FCMMSGService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- Cancels automatic initialization -->
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <!-- FCM required end -->

        <!--Splash-->
        <activity
            android:name=".sign.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Sign in -->
        <activity
            android:name=".sign.SignInActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!--Main-->
        <activity android:name=".main.MainActivity"
            android:screenOrientation="portrait" />
        <!--Chat-->
        <activity
            android:name=".chat.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--Search message-->
        <activity
            android:name=".chat.SearchMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--Chat history-->
        <activity
            android:name=".chat.ChatHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- Group detail -->
        <activity android:name=".group.activities.GroupDetailActivity"
            android:screenOrientation="portrait" />
        <!-- Group members -->
        <activity android:name=".group.activities.GroupMembersActivity"
            android:screenOrientation="portrait" />
        <!-- Group notice -->
        <activity android:name=".group.activities.GroupNoticeActivity"
            android:screenOrientation="portrait" />
        <!-- Group files -->
        <activity android:name=".group.activities.GroupFilesActivity"
            android:screenOrientation="portrait" />
        <!-- Transfer group owner -->
        <activity android:name=".group.activities.GroupTransferActivity"
            android:screenOrientation="portrait" />
        <!--General-->
        <activity android:name=".me.GeneralActivity"
            android:screenOrientation="portrait"/>
        <!--Notification-->
        <activity android:name=".me.NotificationActivity"
            android:screenOrientation="portrait"/>
        <!--Privacy-->
        <activity android:name=".me.PrivacyActivity"
            android:screenOrientation="portrait"/>
        <!--Contact Black List-->
        <activity android:name=".me.ContactBlackListActivity"
            android:screenOrientation="portrait"/>
        <!--About-->
        <activity android:name=".me.AboutActivity"
            android:screenOrientation="portrait"/>
        <!--Replace avatar-->
        <activity android:name=".me.UserAvatarSelectActivity"
            android:screenOrientation="portrait" />
        <!-- Contact detail -->
        <activity
            android:name=".contact.ContactDetailActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>